:root {
    --border-radius: 24px;

    --foreground-color: #000;
    --background-color: #f2f8f2;

    --button-text-color: #fff;
    --button-primary-color: #1cb095;
    --button-secondary-color: #3d435a;
    --button-tertiary-color: #494e62;

    --base-font: 14px;
}
