/* Imports aren't working for some reason, reset included in Modal.svelte instead */
/* @import 'reset.css'; */

/**  
* :host selector for web component, 
* :root selector for storybook 
*/

:host,
:root {
    --border-radius: 24px;

    --foreground-color: #000;
    --background-color: #f2f8f2;

    --button-text-color: #fff;
    --button-primary-color: #1cb095;
    --button-secondary-color: #3d435a;
    --button-tertiary-color: #494e62;

    --base-font: 14px;

    font-family: system-ui, ui-sans-serif;
}
