@media (prefers-color-scheme: dark) {
    :host dialog,
    :root {
        /* --button-text-color: #fff;
        --button-primary-color: var(--color-secondary-500);
        --button-primary-hover: var(--color-secondary-600);
        --button-primary-active: var(--color-secondary-700); */
    }
}

/**  

Globals and custom properties

:host selector for web component, 
:root selector for storybook 
*/

:host dialog,
:root {
    /****************** 
          Theme 
    ******************/
    --surface-color: white;
    --on-surface-color: var(--color-primary-700);

    --background-color: var(--color-primary-700);
    --on-background-color: var(--color-primary-50);

    --header-text-color: var(--color-primary-50);
    --header-button-background: var(--background-color);
    --header-button-outline: var(--color-primary-900);

    --button-text-color: var(--wharf-blue);
    --button-outline-active: inset 0 0 0 2px var(--button-text-color);

    --button-primary-background: var(--color-secondary-200);
    --button-primary-background-hover: var(--color-secondary-200);
    --button-primary-background-active: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        var(--color-secondary-200);
    --button-primary-outline-hover: inset 0 0 0 1px #00000030,
        inset 0 0 0 1px var(--color-secondary-200);

    --button-secondary-background: var(--color-custom-1);
    --button-secondary-background-hover: var(--color-custom-1);
    --button-secondary-background-active: var(--color-secondary-200);
    --button-secondary-outline-hover: inset 0 0 0 1px #00000020,
        inset 0 0 0 1px var(--color-secondary-200);

    --button-outlined-background-active: var(--color-secondary-200);
    --button-outlined-outline: inset 0 0 0 1px var(--color-secondary-200);
    --button-outlined-outline-hover: inset 0 0 0 1px #00000020,
        inset 0 0 0 1px var(--color-secondary-200);

    /* 
    --button-secondary-color: #3d435a;
    --button-tertiary-color: #494e62; */

    /****************** 
          Colors 
    ******************/

    /* Brand */
    --wharf-blue: var(--color-primary-700);
    --reef-turquoise: var(--color-secondary-300);
    --seafoam-mint: var(--color-secondary-200);
    --swell-mist: var(--color-accent-50);

    /* Primary */
    --color-primary-50: #f6f7f9;
    --color-primary-100: #ededf1;
    --color-primary-200: #d6d8e1;
    --color-primary-300: #b3b8c6;
    --color-primary-400: #8991a7;
    --color-primary-500: #6b738c;
    --color-primary-600: #565c73;
    --color-primary-700: #494e62; /* Wharf Blue */
    --color-primary-800: #3c4050;
    --color-primary-900: #363944;

    /* Secondary */
    --color-secondary-50: #f1fcf9;
    --color-secondary-100: #cef9ed;
    --color-secondary-200: #b2f2e1; /* Seafoam Mint */
    --color-secondary-300: #7be7ce; /* Reef Turquoise */
    --color-secondary-400: #35ccae;
    --color-secondary-500: #1cb095;
    --color-secondary-600: #148d79;
    --color-secondary-700: #147163;
    --color-secondary-800: #155a51;
    --color-secondary-900: #164b43;

    /* Accent */
    --color-accent-50: #f4faf4; /* Swell Mist */
    --color-accent-100: #e4f4e5;
    --color-accent-200: #cae8cc;
    --color-accent-300: #a1d4a3;
    --color-accent-400: #70b874;
    --color-accent-500: #4c9b51;
    --color-accent-600: #3a7f3e;
    --color-accent-700: #306534;
    --color-accent-800: #2a512d;
    --color-accent-900: #244326;

    /* Neutrals */
    --color-neutral-100: #f7f7f7;
    --color-neutral-200: #e3e3e3;
    --color-neutral-300: #c8c8c8;
    --color-neutral-400: #a4a4a4;
    --color-neutral-500: #818181;
    --color-neutral-600: #666666;
    --color-neutral-700: #515151;
    --color-neutral-800: #434343;
    --color-neutral-900: #383838;

    /* Custom */

    --color-custom-1: #f3f8f3;

    /****************** 
        Typography 
    ******************/
    font-family: system-ui, ui-sans-serif;
    --base-font: 14px;
    --text-color: var(--wharf-blue);

    /* Font Sizing - Minor Third scale (1.200) */
    --fs--2: 0.694rem;
    --fs--1: 0.833rem;
    --fs-0: 1rem;
    --fs-1: 1.2rem;
    --fs-2: 1.44rem;
    --fs-3: 1.728rem;
    --fs-4: 2.074rem;
    --fs-5: 2.488rem;
    --fs-6: 2.986rem;
    --fs-7: 3.583rem;
    --fs-8: 4.3rem;

    /****************** 
      Size and Spacing 
    ******************/

    /* Fixed ratio spacing scale */
    --ratio: 1.5;
    --measure: 75ch;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /* Other sizes */
    --card-border-radius: 24px;
    --button-border-radius: 12px;
}
